@use "../../mixin" as *;

.chartContainer {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.064) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  backdrop-filter: blur(10px);
  padding: 20px !important;
  border-radius: 16px !important;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px rgba(0, 89, 255, 0.1);
  }

  .title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  // 그래프
  .chart {
    width: 100% !important;
    height: 85% !important;
  }
}

// 라인 텍스트
.legendList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.legendItem {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.legendAlText {
  color: #3b82f6;
}

.legendVeText {
  color: #8b5cf6;
}

.legendHeText {
  color: #93c6dfff;
}

// 평균 & 최고
.chartsStats {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

@include respond-max($laptop) {
  .chartContainer {
    padding: 15px !important;
  }

  :global(.recharts-default-legend) {
    text-align: right !important;
  }

  :global(.recharts-legend-wrapper) {
    right: -25px !important;
    left: unset !important;
    bottom: 10px !important;
    font-size: 11px !important;
  }

  // 평균 최고값
  .chartsStats {
    right: unset;
    left: 15px;
  }
}

@include respond-max($tablet){

}