@use "../../mixin" as *;

.chartContainer {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.064) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  backdrop-filter: blur(10px);
  padding: 20px !important;
  border-radius: 16px !important;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px rgba(0, 89, 255, 0.1);
  }

  .title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.chartsStats {
  position: absolute;
  bottom: 11px;
  right: 11px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

@include respond-max($laptop) {
  .chartContainer {
    padding: 15px !important;
  }

  :global(.recharts-surface) {
    height: 90% !important;
  }

  :global(.recharts-default-legend) {
    text-align: right !important;
  }

  :global(.recharts-legend-wrapper) {
    right: -25px !important;
    left: unset !important;
    bottom: 10px !important;
    font-size: 11px !important;
  }

  // 평균 최고값
  .chartsStats {
    right: unset;
    left: 15px;
  }
}
